::-webkit-input-placeholder { 
    text-indent: 5px; 
    color: #aaa;                        
} /* Chrome/Opera/Safari */
::-moz-placeholder { 
    text-indent: 5px; 
    color: #aaa; 
} /* Firefox 19+ */
:-ms-input-placeholder { 
    text-indent: 5px; 
    color: #aaa; 
} /* IE 10+ */
:-moz-placeholder { 
    text-indent: 5px; 
    color: #aaa; 
} /* Firefox 18- */
input, select {
	height: 3em;
}
#main {border: 1px solid black; width: 640px; padding: 5px;
       background-color: #eee; margin-top: 0px}
span {color: red; font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
table {font-size: 8pt; width: 630px; margin-top: 5px; margin-bottom: 0px}
th {text-align: left; font-weight: normal;
    font-family: Arial, Helvetica, sans-serif; padding:10px}
#reporttitle {
              background-color: #2aabd2;
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 18pt;
              color: #dff0d8;
              font-weight: bold;
              }

input {width: 100%; font-size: 8pt}
select {width: 100%; font-size: 8pt}
#lname, #fname {width: 150px}
#account, #department, #project {width: 150px}

#traveltable th {text-align: center}
#subhead {width: 100px}
#travelexphead, #lodgeexphead, #mealexphead {width: 80px}
#date1, #date2, #date3, #date4 {text-align: center}
#travel1, #travel2, #travel3, #travel4 {text-align: right}
#lodge1, #lodge2, #lodge3, #lodge4 {text-align: right}
#meal1, #meal2, #meal3, #meal4 {text-align: right}
#sub1, #sub2, #sub3, #sub4,#total {text-align: right}
#traveltable #totalhead {text-align: right}

textarea {height: 100px; width: 100%}

#main #psub {text-align: center;}
#main p input {letter-spacing: 5}
#project, #ssn, #department, #account {
	//text-transform: uppercase;
}
textarea#address, textarea#summary {
	resize: none;
}
.form-control {
	border-radius: 0 !important;
	border: 1px solid #ddd;
}
#psub input[type="submit"] {
	color: #dff0d8;
    font-weight: bold;
}